html{
    background-color: cadetblue;
}

div.relative {
  position: relative;
  left: 20px;
  border: 3px solid blue;
}

div.fixed {
  position: fixed;
  /* adjust the positions to see effect */
  right: 0;
  left: 0;
  width: 200px;
  border: 3px solid black;
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 300px;
  height: 100px;
  border: 3px solid #3f21ad;
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #e8ceca;
  border: 2px solid #4c4caf;
}

div.add-height{
    padding-bottom: 800px;
}