<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Potatoes Layouts</title>
</head>

<body>

    <div class="header-container">
        <h1>Dev.</h1>
        <p>Sharing news on the latest stuff..</p>
    </div>

    <div class="topnav">
        <a href="#">About</a>
        <a href="#">Contact us</a>
        <div class="float-right">
            <a href="#">Login</a>
        </div>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Apple eats humble pie</h2>
                <h5>Shares drop as boredom increases, Dec 7, 2017</h5>
                <div class="emptyImg img-200">Image</div>
                <p>What can we do..</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="card">
                <h2>Innovation is dead</h2>
                <h5>What is to come?, Sep 2, 2017</h5>
                <div class="emptyImg img-200">Image</div>
                <p>Time will tell..</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <div class="rightcolumn">

            <div class="card">
                <h3>List of images</h3>
                <div class="emptyImg">
                    <p>Image 1</p>
                </div>
                <div class="emptyImg">
                    <p>Image 2</p>
                </div>
                <div class="emptyImg">
                    <p>Image 3</p>
                </div>
            </div>

            <div class="card">
                <h2>Small block</h2>
                <div class="emptyImg img-100">Image</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>

           

            <!-- You can add more card blocks and it will expand within the row & column -->
            <div class="card">
                <h2>Small block</h2>
                <div class="emptyImg img-100">Image</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>

            <div class="card">
                <h3>Subscribe here</h3>
            </div>
        </div>
    </div>

    <footer id="site-footer">

    <section class="horizontal-footer-section" id="footer-top-section">
        <div id="footer-logo">
            <picture>
                <!-- Add image here if you want a logo -->
            </picture>
        </div>
        <div id="footer-top-menu-container" role="menubar">
            <ul id="footer-top-menu" role="menu">
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="#" class="footer-top-menu-link">IT Services</a>
                </li>
                <li class="footer-top-menu-item footer-top-menu-item-active" role="menuitem">
                    <a href="#" class="footer-top-menu-link">Web development</a>
                </li>
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="#" class="footer-top-menu-link">SEO</a>
                </li>
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="#" class="footer-top-menu-link">UI/UX</a>
                </li>
            </ul>
        </div>
        <div id="footer-buttons-container">
            <a href="#" class="footer-button" role="button">View our Projects</a>
        </div>
    </section>

    <section class="horizontal-footer-section" id="footer-middle-section">
        <div id="footer-about" class="footer-columns footer-columns-large">
            <h1>Our Address</h1>
            <address>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">South Africa</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png"> +27 111 222 3333</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">noreply@pietsbusiness.com</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">12:00 AM – 12:00 PM</p>
            </address>
            <h1> Our Newsletter</h1>
            <a href="#" class="footer-button" role="button">Subscribe</a>
        </div>
        <!-- Start of the columns From Overview to Information -->

        <!-- Overview -->
        <div class="footer-columns">
            <h1>Overview</h1>
            <ul class="footer-column-menu" role="menu">
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Services </a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Portfolio</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Pricing</a>
                </li>
            </ul>
        </div>
        <!-- Resources -->
        <div class="footer-columns">
            <h1>Resources</h1>
            <ul class="footer-column-menu" role="menu">
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">FAQ</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Media</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Free Resources</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Testimonials</a>
                </li>
            </ul>
        </div>
        <!-- Information -->
        <div class="footer-columns">
            <h1>Information</h1>
            <ul class="footer-column-menu" role="menu">
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">About Us</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
                </li>
                <li class="footer-column-menu-item">
                    <a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Contact Us</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Feedback</a>
                </li>
            </ul>
        </div>
    </section>
    
    <section class="horizontal-footer-section" id="footer-bottom-section">
        <div id="footer-copyright-info">
            &copy; Potatoes Inc. 2022. All rights reserved.
        </div>
        <div id="footer-social-buttons">
            <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png"/>
        </div>
    </section>

</footer>



</body>

</html>